
.page-container{
    height: calc(100vh - 50px);
    
}



aside{
    width: auto;
    background-color: #051e34;
    padding: 20px;
    flex-shrink: 0;
    background-image: url(aside.css/);
}

main{
    flex-grow: 1;
    
}



